body {
    font-family: 'roboto', sans-serif;
    margin: 0;
}

h1 {
    padding: 8px;
    background-color: beige;
    border: radius 8px;
    margin: 0;
    font-size: 64px;
    font-family:'roboto slab';
}
p {
    line-height: 1.5;
}
main {
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: black;
}
a:hover{
    text-decoration: underline;
}
input,
textarea{
    height: 32px;
    padding: 0 16PX;
    font-family: 'Roboto condenshed', sans-serif;
    font-size: 20px;
    border: none;
    box-shadow: inset 8px 3px 18px -4px rgba(0,0,0,0.4);
}

input:focus,
textarea:focus {
    outline: none;

}

/* Banner */
#banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: rgba(0,0,0,0,2)url(img/logo.png.jpg);
    background-size: cover ;
    background-attachment: fixed;
    background-position:center ;
    background-blend-mode: overlay ;
    color: white;
}
#banner h3 {
    background:rgb(110, 91, 16);
    border-radius: 8px;
    padding: 0 24px;
    font-size: 24px;
}
nav a{
    padding: 0 32px;
    color: #eee;
    transition: 0.4s;

}

nav a:hover{
    text-decoration: none;
    color: red;

}
 nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    height: 100;
    margin: 0;
 }
 
 





